In [1]:
= Business Analysis =

SyntaxError: invalid syntax (<ipython-input-1-786bd5a61f69>, line 1)

In [2]:
import pandas as pd

df_contracts = pd.read_csv('../data/contracts.csv')
df_contracts.head()

df_customers = pd.read_csv('../data/customers.csv')
df_customers.head()

df_customers.rename(columns={'id':'customer_id'}, inplace=True)
df_customers.head()

df_customers.set_index('customer_id', inplace=True)
df_customers.head()

df_contracts = df_contracts.set_index('customer_id')
df_contracts.head()

df = df_contracts.join(df_customers, how='left')
df.head(25)

gk = df.groupby('deposit') 
gk.first() 

df_contracts.join(df_customers, how='left')

,contract_id,contract_start,contract_term,deposit,monthly_amt,company,sector,industry,email,address,city,state,zip
customer_id,,,,,,,,,,,,,
1,41,5/31/2019,24,"$86,000.00","$11,200.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,358,6/18/2019,13,"$74,000.00","$19,000.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,400,8/11/2019,19,"$38,000.00","$8,800.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,424,3/13/2019,15,"$77,000.00","$14,300.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,438,10/16/2019,22,"$39,000.00","$20,000.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,284,12/28/2019,17,"$78,000.00","$17,600.00",Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055
200,540,4/17/2019,3,"$65,000.00","$9,800.00",Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055
200,630,11/1/2019,12,"$85,000.00","$12,600.00",Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055
200,862,10/2/2019,21,"$48,000.00","$6,500.00",Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055
200,973,8/21/2019,1,"$47,000.00","$12,300.00",Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055

In [3]:
df.groupby('state').agg({'contract_id' : 'count', 'company':pd.Series.nunique}).sort_values('company', ascending=False)

       contract_id  company
state
TX             104       21
CA              88       17
FL              70       15
NY              43       11
WA              54        9
DC              32        8
PA              29        7
KS              43        7
VA              35        7
OH              33        6
LA              33        6
WI              24        6
CO              34        6
OR              22        5
OK              34        5
AZ              22        5
MO              26        5
GA              15        4
MD              18        4
MI              20        4
IL              23        4
TN              16        4
NC              25        4
ID              18        3
NE              22        3
MN              18        3
DE              14        3
IN              11        3
NV               9        2
CT              11        2
SC               5        1
AK               8        1
ME               4        1
MS               6        1
AL               7        1
MA               6        1
KY              11        1
AR               2        1
WV               5        1

In [4]:
import re
df.loc[:, 'deposit'] = pd.to_numeric([re.sub('[^0-9]','',str(s)) for s in df['deposit']])
df

,contract_id,contract_start,contract_term,deposit,monthly_amt,company,sector,industry,email,address,city,state,zip
customer_id,,,,,,,,,,,,,
1,41,5/31/2019,24,8600000,"$11,200.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,358,6/18/2019,13,7400000,"$19,000.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,400,8/11/2019,19,3800000,"$8,800.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,424,3/13/2019,15,7700000,"$14,300.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,438,10/16/2019,22,3900000,"$20,000.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,284,12/28/2019,17,7800000,"$17,600.00",Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055
200,540,4/17/2019,3,6500000,"$9,800.00",Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055
200,630,11/1/2019,12,8500000,"$12,600.00",Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055
200,862,10/2/2019,21,4800000,"$6,500.00",Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055
200,973,8/21/2019,1,4700000,"$12,300.00",Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055

In [5]:
import re
df.loc[:, 'deposit'] = pd.to_numeric([re.sub('[^0-9]','',str(s)) for s in df['deposit']])
df

,contract_id,contract_start,contract_term,deposit,monthly_amt,company,sector,industry,email,address,city,state,zip
customer_id,,,,,,,,,,,,,
1,41,5/31/2019,24,8600000,"$11,200.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,358,6/18/2019,13,7400000,"$19,000.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,400,8/11/2019,19,3800000,"$8,800.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,424,3/13/2019,15,7700000,"$14,300.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,438,10/16/2019,22,3900000,"$20,000.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,284,12/28/2019,17,7800000,"$17,600.00",Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055
200,540,4/17/2019,3,6500000,"$9,800.00",Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055
200,630,11/1/2019,12,8500000,"$12,600.00",Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055
200,862,10/2/2019,21,4800000,"$6,500.00",Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055
200,973,8/21/2019,1,4700000,"$12,300.00",Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055

In [6]:
import re
df.loc[:, 'monthly_amt'] = pd.to_numeric([re.sub('[^0-9]','',str(s)) for s in df['monthly_amt']])
df

,contract_id,contract_start,contract_term,deposit,monthly_amt,company,sector,industry,email,address,city,state,zip
customer_id,,,,,,,,,,,,,
1,41,5/31/2019,24,8600000,1120000,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,358,6/18/2019,13,7400000,1900000,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,400,8/11/2019,19,3800000,880000,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,424,3/13/2019,15,7700000,1430000,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,438,10/16/2019,22,3900000,2000000,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,284,12/28/2019,17,7800000,1760000,Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055
200,540,4/17/2019,3,6500000,980000,Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055
200,630,11/1/2019,12,8500000,1260000,Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055
200,862,10/2/2019,21,4800000,650000,Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055
200,973,8/21/2019,1,4700000,1230000,Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055

In [7]:
df['contract_amount'] = df['deposit'] + (df['contract_term']*df['monthly_amt'])
df.head()

,contract_id,contract_start,contract_term,deposit,monthly_amt,company,sector,industry,email,address,city,state,zip,contract_amount
customer_id,,,,,,,,,,,,,,
1,41,5/31/2019,24,8600000,1120000,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170,35480000
1,358,6/18/2019,13,7400000,1900000,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170,32100000
1,400,8/11/2019,19,3800000,880000,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170,20520000
1,424,3/13/2019,15,7700000,1430000,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170,29150000
1,438,10/16/2019,22,3900000,2000000,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170,47900000

In [8]:
df['sector'] = df['sector'].fillna('')
df.loc[df['contract_term']<2]

,contract_id,contract_start,contract_term,deposit,monthly_amt,company,sector,industry,email,address,city,state,zip,contract_amount
customer_id,,,,,,,,,,,,,,
3,361,8/11/2019,1,4900000,1790000,Twitterworks,,NaN,alerohan2@ox.ac.uk,29 Hovde Hill,Milwaukee,WI,53234,6690000
3,596,12/1/2019,1,1900000,1350000,Twitterworks,,NaN,alerohan2@ox.ac.uk,29 Hovde Hill,Milwaukee,WI,53234,3250000
15,84,4/4/2019,1,6500000,2260000,Buzzbean,Consumer Non-Durables,Consumer Electronics/Appliances,reslere@mac.com,7472 Tony Avenue,Bronx,NY,10459,8760000
15,105,1/31/2019,1,6100000,2020000,Buzzbean,Consumer Non-Durables,Consumer Electronics/Appliances,reslere@mac.com,7472 Tony Avenue,Bronx,NY,10459,8120000
16,211,6/15/2019,1,3400000,1420000,Kwinu,,NaN,alabetf@gov.uk,688 La Follette Park,Buffalo,NY,14215,4820000
21,309,12/9/2019,1,4400000,2270000,Tanoodle,,NaN,fchaytork@sogou.com,1 Armistice Avenue,Pueblo,CO,81005,6670000
22,503,11/10/2019,1,6400000,2040000,Jabbercube,Health Care,Biotechnology: In Vitro & In Vivo Diagnostic S...,cgentlel@cnn.com,8275 Arizona Street,Odessa,TX,79764,8440000
22,548,7/13/2019,1,5500000,530000,Jabbercube,Health Care,Biotechnology: In Vitro & In Vivo Diagnostic S...,cgentlel@cnn.com,8275 Arizona Street,Odessa,TX,79764,6030000
29,677,8/22/2019,1,2400000,2040000,Yodoo,,NaN,lwinstanleys@noaa.gov,3 Oneill Court,Tucson,AZ,85715,4440000
40,142,10/19/2019,1,2500000,2480000,Feedfish,Finance,Investment Bankers/Brokers/Service,rnodes13@google.es,51602 Kenwood Plaza,Columbus,OH,43226,4980000
51,628,7/8/2019,1,6700000,2400000,Brainlounge,,NaN,corpin1e@icio.us,35 Barnett Trail,Aurora,CO,80044,9100000
52,556,6/12/2019,1,5300000,860000,Jabbertype,,NaN,ycole1f@facebook.com,859 Summer Ridge Alley,Topeka,KS,66642,6160000
53,473,5/10/2019,1,2200000,810000,Centidel,Finance,Major Banks,fsutherby1g@reuters.com,93 Melvin Park,San Francisco,CA,94164,3010000
55,393,6/3/2019,1,6000000,2240000,Eimbee,Health Care,Major Pharmaceuticals,dmilbourne1i@g.co,38460 Dixon Way,Round Rock,TX,78682,8240000
55,653,11/28/2019,1,7700000,550000,Eimbee,Health Care,Major Pharmaceuticals,dmilbourne1i@g.co,38460 Dixon Way,Round Rock,TX,78682,8250000
60,23,7/13/2019,1,2900000,2140000,Zoomdog,Consumer Services,Real Estate Investment Trusts,scolston1n@zdnet.com,0 Barnett Alley,Baltimore,MD,21229,5040000
62,486,10/7/2019,1,6800000,2490000,Dabfeed,Energy,Natural Gas Distribution,abader1p@dailymotion.com,1 Jackson Parkway,Oklahoma City,OK,73173,9290000
62,964,6/3/2019,1,3700000,1770000,Dabfeed,Energy,Natural Gas Distribution,abader1p@dailymotion.com,1 Jackson Parkway,Oklahoma City,OK,73173,5470000
64,186,3/11/2019,1,5700000,2310000,Flipbug,Public Utilities,Natural Gas Distribution,eleall1r@harvard.edu,7938 Hermina Park,Ocala,FL,34479,8010000
66,301,12/9/2019,1,1400000,1570000,Demizz,Basic Industries,Major Chemicals,adyas1t@infoseek.co.jp,60701 Shopko Pass,Washington,DC,20436,2970000
70,352,3/24/2019,1,3700000,1790000,Thoughtmix,Technology,Computer peripheral equipment,nblaine1x@prweb.com,1790 Donald Hill,Boise,ID,83757,5490000
70,665,9/27/2019,1,2200000,2430000,Thoughtmix,Technology,Computer peripheral equipment,nblaine1x@prweb.com,1790 Donald Hill,Boise,ID,83757,4630000
77,448,10/27/2019,1,6200000,1640000,Mycat,Health Care,Other Pharmaceuticals,whucke24@wikipedia.org,33 Summer Ridge Pass,Decatur,GA,30033,7840000
80,758,1/24/2019,1,2800000,700000,Twitterlist,Consumer Non-Durables,Apparel,bmurfett27@smugmug.com,14202 Toban Pass,Silver Spring,MD,20910,3500000
81,656,2/1/2019,1,4500000,1570000,Gigazoom,Consumer Services,Hotels/Resorts,oscoates28@cnet.com,21814 Waubesa Plaza,Oklahoma City,OK,73109,6070000
83,420,4/15/2019,1,7100000,1200000,Babbleset,Consumer Services,Farming/Seeds/Milling,bwake2a@cnn.com,0 Orin Plaza,Kansas City,MO,64114,8300000
83,956,8/18/2019,1,4300000,2140000,Babbleset,Consumer Services,Farming/Seeds/Milling,bwake2a@cnn.com,0 Orin Plaza,Kansas City,MO,64114,6440000
88,374,5/1/2019,1,3200000,700000,Photobug,Finance,Major Banks,mrosenwald2f@reuters.com,8 Village Place,Kansas City,MO,64187,3900000
92,760,12/28/2019,1,3100000,2390000,Kayveo,Health Care,Major Pharmaceuticals,htocher2j@gmpg.org,8 Debra Place,New Orleans,LA,70129,5490000
93,375,3/16/2019,1,3900000,800000,Bluezoom,Public Utilities,Telecommunications Equipment,ybrickhill2k@whitehouse.gov,19 Vidon Place,Pasadena,CA,91186,4700000
95,85,8/13/2019,1,1700000,2170000,Fanoodle,Technology,Electrical Products,dkohen2m@a8.net,812 Northland Circle,Tulsa,OK,74156,3870000
96,257,7/2/2019,1,9600000,2320000,Devify,Finance,Major Banks,apittman2n@i2i.jp,0 Stoughton Street,Schenectady,NY,12325,11920000
98,776,7/12/2019,1,8600000,2090000,Oloo,,NaN,dhaugeh2p@census.gov,85511 Vahlen Avenue,Richmond,VA,23237,10690000
107,278,4/21/2019,1,9400000,1740000,Flashset,Health Care,Medical Specialities,mstummeyer2y@npr.org,236 Weeping Birch Parkway,Dallas,TX,75216,11140000
111,132,8/14/2019,1,9300000,600000,Devcast,Consumer Services,Hotels/Resorts,pabelevitz32@seesaa.net,8700 Roxbury Street,Morgantown,WV,26505,9900000
121,491,11/6/2019,1,1200000,960000,Zoonoodle,Health Care,Major Pharmaceuticals,vgarraway3c@sina.com.cn,1709 Waxwing Park,Los Angeles,CA,90094,2160000
128,248,3/17/2019,1,1900000,630000,Zoombox,Energy,Oil Refining/Marketing,bhowlett3j@hhs.gov,43 Autumn Leaf Drive,Philadelphia,PA,19146,2530000
129,388,5/9/2019,1,5900000,820000,Edgetag,,NaN,hwinship3k@rediff.com,32 Pennsylvania Point,Las Vegas,NV,89155,6720000
131,492,5/22/2019,1,8100000,1320000,Midel,Finance,Investment Managers,cdrennan3m@artisteer.com,0 Warner Point,Topeka,KS,66617,9420000
134,191,4/19/2019,1,2000000,850000,Zava,Capital Goods,Industrial Specialties,tborges3p@mapy.cz,5 Magdeline Plaza,Wilmington,DE,19886,2850000
143,321,1/23/2019,1,1500000,590000,Thoughtblab,,NaN,htonna3y@wikimedia.org,23 Algoma Road,Clearwater,FL,33758,2090000
156,616,1/31/2019,1,1600000,2320000,Omba,Energy,Coal Mining,mjeandin4b@nih.gov,4 Kinsman Plaza,Austin,TX,78749,3920000
163,697,9/12/2019,1,1500000,1340000,Feedbug,,NaN,csemeradova4i@irs.gov,3256 Bobwhite Point,Boise,ID,83732,2840000
171,814,7/6/2019,1,4900000,930000,Geba,Consumer Durables,Automotive Aftermarket,cazemar4q@hhs.gov,3 Riverside Center,Tulsa,OK,74141,5830000
173,713,3/28/2019,1,5200000,1890000,Jabberstorm,Consumer Non-Durables,Beverages (Production/Distribution),apickthall4s@wordpress.com,454 High Crossing Court,Raleigh,NC,27626,7090000
183,944,3/20/2019,1,3900000,960000,Bubblebox,Finance,Major Banks,kklageman52@about.me,6298 Maryland Center,Erie,PA,16510,4860000
187,226,10/13/2019,1,7700000,960000,Jaloo,Miscellaneous,Business Services,lmessent56@blogs.com,094 Derek Road,Stamford,CT,6912,8660000
187,768,11/2/2019,1,9400000,1270000,Jaloo,Miscellaneous,Business Services,lmessent56@blogs.com,094 Derek Road,Stamford,CT,6912,10670000
193,536,3/3/2019,1,4400000,1780000,Mymm,,NaN,vfair5c@deviantart.com,3844 Clarendon Court,Austin,TX,78759,6180000
200,973,8/21/2019,1,4700000,1230000,Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055,5930000

In [9]:
df.groupby('contract_amount').agg({'state': 'count', 'company':pd.Series.nunique}).sort_values('contract_amount', ascending=False)

                 state  company
contract_amount
66900000             1        1
65780000             1        1
65000000             1        1
63120000             1        1
62160000             1        1
...                ...      ...
2850000              1        1
2840000              1        1
2530000              1        1
2160000              1        1
2090000              1        1

[852 rows x 2 columns]

In [10]:
df[['state', 'contract_amount', 'contract_id']].sort_values('contract_amount', ascending=False).head(10)

            state  contract_amount  contract_id
customer_id
198            DE         66900000          945
165            CA         65780000          566
169            CA         65000000          408
143            FL         63120000          518
20             WA         62160000          761
116            PA         61680000          127
101            KS         61100000          126
23             MN         61040000          695
198            DE         60700000          508
1              CA         60460000          657

In [11]:
= Conclusion =

SyntaxError: invalid syntax (<ipython-input-11-e9f6fdd879a8>, line 1)

In [12]:
#reasoning
print(" The new headquarters should be set up in California. Even though the number one count of contracts is in Texas, out of the top ten highest contract amounts, 3 of them are in California. Plus, California also has the second highest count of contracts. This state is a heavily active location that is aggresively gaining capital.")

 The new headquarters should be set up in California. Even though the number one count of contracts is in Texas, out of the top ten highest contract amounts, 3 of them are in California. Plus, California also has the second highest count of contracts. This state is a heavily active location that is aggresively gaining capital.